{
  "tabWidth": 2,
  "useTabs": true,
  "printWidth": 100,
  "singleQuote": true,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 80,
        "tabWidth": 4,
        "useTabs": false
      }
    }
  ]
}
